{% extends 'base.html' %}

{% block content %}

<h2>Sobre o Projeto</h2>
<br>


<h2>Proposta</h2>
<p class="box_post">O projeto do fórum inicialmete para egressos tem como objetivo promover a comunicação entre estudantes, docentes e egressos do
    IFTO, oferecendo um espaço para troca de experiências, compartilhamento de conhecimento e suporte acadêmico.</p>

<h2>Funções</h2>
<ul class="box_post">
    <li>Criação de tópicos e respostas;</li>
    <li>Criação de formulários personalizados para enquetes;</li>
    <li>Uso de tags para categorizar tópicos;</li>
    <li>Notificações personalizadas para respostas;</li>
    <li>Filtragem de acesso às salas do fórum com base no curso e tipo de usuário.</li>
</ul>

<h2>Necessidade</h2>
<p class="box_post">Com a crescente demanda por um espaço digital de comunicação acadêmica, o fórum se torna essencial para facilitar
    a interação entre os membros da comunidade acadêmica, compartilhando conhecimento e fortalecendo a rede de
    contatos profissionais.</p>

<h2>Equipe</h2>
<p class="box_post">O projeto é desenvolvido pela equipe de estudantes do IFTO campus Araguatins sobre supervisão da orientadora Kênia Maria, com foco em criar um
    ambiente colaborativo, acessível e sustentável para todos os envolvidos.</p>

<h2>Artigo</h2>
<p class="box_post">O artigo científico que embasa o projeto aborda a importância da comunicação acadêmica digital, explorando os
    benefícios de uma plataforma colaborativa para troca de conhecimento entre alunos, professores e egressos.</p>

<h2>Campos</h2>
<p class="box_post">O fórum possui campos específicos para cada sala e categoria, permitindo discussões direcionadas e segmentadas de
    acordo com o interesse dos usuários.</p>


{% endblock %}